div {
    display: flex;
    justify-content: center;
  }

* {
  margin: 0;
  padding: 0;
  
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;

}

html, 
body {
  overflow: hidden; 
  background-image: url('/image/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


